.note-li {
    color: red;
}

a.note:link {
    text-decoration: none;
    color: unset;
    background-color: unset !important;
}

a.note:visited {
    text-decoration: none;
    color: unset;
    background-color: unset !important;
}

a.note:hover {
    text-decoration: underline;
    color: unset;
    background-color: unset !important;
}

a.note:active {
    text-decoration: underline;
    color: unset;
    background-color: unset !important;

}